{
    "openapi": "3.0.3",
    "info": {
        "title": "RESTAPI Service",
        "description": "RESTful API",
        "version": "2.0"
    },
    "servers": [
        {
            "url": "https://restapi.ayyeka.com/v2.0"
        }
    ],
    "paths": {
        "/account/organization": {
            "get": {
                "tags": [
                    "account"
                ],
                "summary": "getAllOrganizations account",
                "description": "Returns all organizations belonging to the account",
                "operationId": "account#getAllOrganizations",
                "responses": {
                    "200": {
                        "description": "OK response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/StoredOrganizationCollection"
                                },
                                "example": [
                                    {
                                        "account_id": 123,
                                        "display_name": "MyOrganization LTD",
                                        "id": 123
                                    },
                                    {
                                        "account_id": 123,
                                        "display_name": "MyOrganization LTD",
                                        "id": 123
                                    },
                                    {
                                        "account_id": 123,
                                        "display_name": "MyOrganization LTD",
                                        "id": 123
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "bad_request: Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "unauthorized: Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "forbidden: Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "not_found: Organization not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "too_many_requests: Too many requests",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "internal_server_error: System error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "jwt_header_Authorization": []
                    }
                ]
            }
        },
        "/account/organization/{organizationId}": {
            "get": {
                "tags": [
                    "account"
                ],
                "summary": "getOrganizationById account",
                "description": "Returns information about the specified account",
                "operationId": "account#getOrganizationById",
                "parameters": [
                    {
                        "name": "organizationId",
                        "in": "path",
                        "description": "ID of the organization whose information should be returned",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "description": "ID of the organization whose information should be returned",
                            "example": 123,
                            "minimum": 1,
                            "format":"int64"
                        },
                        "example": 123
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AkapiStoredOrganization"
                                },
                                "example": {
                                    "account_id": 123,
                                    "display_name": "MyOrganization LTD",
                                    "id": 123
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "bad_request: Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "unauthorized: Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "forbidden: Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "not_found: Organization not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "too_many_requests: Too many requests",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "internal_server_error: System error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "jwt_header_Authorization": []
                    }
                ]
            }
        },
        "/channel": {
            "get": {
                "tags": [
                    "channel"
                ],
                "summary": "getAllChannels channel",
                "description": "Returns information about all channels to which the client has access",
                "operationId": "channel#getAllChannels",
                "responses": {
                    "200": {
                        "description": "OK response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/StoredChannelCollection"
                                },
                                "example": [
                                    {
                                        "creation_date": "2003-05-03T02:27:44Z",
                                        "device_id": 24,
                                        "display_name": "Pressure",
                                        "display_status_name": "Active",
                                        "id": 123,
                                        "on_device_num": 2,
                                        "status_id": 1,
                                        "type_display_name": "DIGITAL",
                                        "type_id": 3
                                    },
                                    {
                                        "creation_date": "2003-05-03T02:27:44Z",
                                        "device_id": 24,
                                        "display_name": "Pressure",
                                        "display_status_name": "Active",
                                        "id": 123,
                                        "on_device_num": 2,
                                        "status_id": 1,
                                        "type_display_name": "DIGITAL",
                                        "type_id": 3
                                    },
                                    {
                                        "creation_date": "2003-05-03T02:27:44Z",
                                        "device_id": 24,
                                        "display_name": "Pressure",
                                        "display_status_name": "Active",
                                        "id": 123,
                                        "on_device_num": 2,
                                        "status_id": 1,
                                        "type_display_name": "DIGITAL",
                                        "type_id": 3
                                    },
                                    {
                                        "creation_date": "2003-05-03T02:27:44Z",
                                        "device_id": 24,
                                        "display_name": "Pressure",
                                        "display_status_name": "Active",
                                        "id": 123,
                                        "on_device_num": 2,
                                        "status_id": 1,
                                        "type_display_name": "DIGITAL",
                                        "type_id": 3
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "bad_request: Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "unauthorized: Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "forbidden: Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "not_found: Channel not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "too_many_requests: Too many requests",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "internal_server_error: System error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "jwt_header_Authorization": []
                    }
                ]
            }
        },
        "/channel/{channelId}": {
            "get": {
                "tags": [
                    "channel"
                ],
                "summary": "getChannelById channel",
                "description": "Returns information about the specified channel",
                "operationId": "channel#getChannelById",
                "parameters": [
                    {
                        "name": "channelId",
                        "in": "path",
                        "description": "ID of the channel whose information should be returned",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "description": "ID of the channel whose information should be returned",
                            "example": 123,
                            "minimum": 1,
                            "format":"int64"
                        },
                        "example": 123
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AkapiStoredChannel"
                                },
                                "example": {
                                    "creation_date": "2013-08-14T16:42:09Z",
                                    "device_id": 24,
                                    "display_name": "Pressure",
                                    "display_status_name": "Active",
                                    "id": 123,
                                    "on_device_num": 2,
                                    "status_id": 1,
                                    "type_display_name": "DIGITAL",
                                    "type_id": 3
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "bad_request: Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "unauthorized: Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "forbidden: Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "not_found: Channel not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "too_many_requests: Too many requests",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "internal_server_error: System error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "jwt_header_Authorization": []
                    }
                ]
            }
        },
        "/device": {
            "get": {
                "tags": [
                    "device"
                ],
                "summary": "getAllDevices device",
                "description": "Returns information about all devices to which the client has access",
                "operationId": "device#getAllDevices",
                "responses": {
                    "200": {
                        "description": "OK response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/StoredDeviceCollection"
                                },
                                "example": [
                                    {
                                        "akid": "W4C016201630164EU",
                                        "display_name": "W4C018074024200205EU",
                                        "firmware_version": "AK3SGSTM__v1.51_20140212T081829",
                                        "iccid": "C2510S067000000000RA",
                                        "iccid2": "C2510S067000000000RA",
                                        "id": 123,
                                        "meid": "359677060121128",
                                        "model_number": "Wavelet Water Overflow 5100",
                                        "serial_number": "W4C018074024200205EU",
                                        "site_display_name": "Orange Canary12",
                                        "site_id": 24
                                    },
                                    {
                                        "akid": "W4C016201630164EU",
                                        "display_name": "W4C018074024200205EU",
                                        "firmware_version": "AK3SGSTM__v1.51_20140212T081829",
                                        "iccid": "C2510S067000000000RA",
                                        "iccid2": "C2510S067000000000RA",
                                        "id": 123,
                                        "meid": "359677060121128",
                                        "model_number": "Wavelet Water Overflow 5100",
                                        "serial_number": "W4C018074024200205EU",
                                        "site_display_name": "Orange Canary12",
                                        "site_id": 24
                                    },
                                    {
                                        "akid": "W4C016201630164EU",
                                        "display_name": "W4C018074024200205EU",
                                        "firmware_version": "AK3SGSTM__v1.51_20140212T081829",
                                        "iccid": "C2510S067000000000RA",
                                        "iccid2": "C2510S067000000000RA",
                                        "id": 123,
                                        "meid": "359677060121128",
                                        "model_number": "Wavelet Water Overflow 5100",
                                        "serial_number": "W4C018074024200205EU",
                                        "site_display_name": "Orange Canary12",
                                        "site_id": 24
                                    },
                                    {
                                        "akid": "W4C016201630164EU",
                                        "display_name": "W4C018074024200205EU",
                                        "firmware_version": "AK3SGSTM__v1.51_20140212T081829",
                                        "iccid": "C2510S067000000000RA",
                                        "iccid2": "C2510S067000000000RA",
                                        "id": 123,
                                        "meid": "359677060121128",
                                        "model_number": "Wavelet Water Overflow 5100",
                                        "serial_number": "W4C018074024200205EU",
                                        "site_display_name": "Orange Canary12",
                                        "site_id": 24
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "bad_request: Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "unauthorized: Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "forbidden: Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "not_found: Device not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "too_many_requests: Too many requests",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "internal_server_error: System error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "jwt_header_Authorization": []
                    }
                ]
            }
        },
        "/device/id/{deviceId}": {
            "get": {
                "tags": [
                    "device"
                ],
                "summary": "getDeviceById device",
                "description": "Returns information about the specified device",
                "operationId": "device#getDeviceById",
                "parameters": [
                    {
                        "name": "deviceId",
                        "in": "path",
                        "description": "ID of the device whose information should be returned",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "description": "ID of the device whose information should be returned",
                            "example": 123,
                            "minimum": 1,
                            "format":"int64"
                        },
                        "example": 123
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AkapiStoredDevice"
                                },
                                "example": {
                                    "akid": "W4C016201630164EU",
                                    "display_name": "W4C018074024200205EU",
                                    "firmware_version": "AK3SGSTM__v1.51_20140212T081829",
                                    "iccid": "C2510S067000000000RA",
                                    "iccid2": "C2510S067000000000RA",
                                    "id": 123,
                                    "meid": "359677060121128",
                                    "model_number": "Wavelet Water Overflow 5100",
                                    "serial_number": "W4C018074024200205EU",
                                    "site_display_name": "Orange Canary12",
                                    "site_id": 24
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "bad_request: Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "unauthorized: Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "forbidden: Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "not_found: Device not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "too_many_requests: Too many requests",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "internal_server_error: System error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "jwt_header_Authorization": []
                    }
                ]
            }
        },
        "/device/id/{deviceId}/sample/gps": {
            "get": {
                "tags": [
                    "samplegps"
                ],
                "summary": "getGPSByDeviceId samplegps",
                "description": "Returns GPS information about specified device",
                "operationId": "samplegps#getGPSByDeviceId",
                "parameters": [
                    {
                        "name": "deviceId",
                        "in": "path",
                        "description": "ID of the device whose GPS data should be returned",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "description": "ID of the device whose GPS data should be returned",
                            "example": 123,
                            "minimum": 1,
                            "format":"int64"
                        },
                        "example": 123
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AkapiStoredSampleGps"
                                },
                                "example": {
                                    "gps": {
                                        "altitude": 745.2,
                                        "date": "2006-12-24T14:09:24Z",
                                        "dilution_of_precision": 2.2,
                                        "latitude": 31.771959,
                                        "longitude": 35.217018,
                                        "number_of_satellites": 4
                                    },
                                    "id": 123,
                                    "stream_id": 24
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "bad_request: Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "unauthorized: Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "forbidden: Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "not_found: SampleGPS not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "too_many_requests: Too many requests",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "internal_server_error: System error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "jwt_header_Authorization": []
                    }
                ]
            }
        },
        "/device/{deviceId}/channels": {
            "get": {
                "tags": [
                    "channel"
                ],
                "summary": "getChannelsByDevice channel",
                "description": "Returns information about all channels of a specified device",
                "operationId": "channel#getChannelsByDevice",
                "parameters": [
                    {
                        "name": "deviceId",
                        "in": "path",
                        "description": "ID of the device whose channels should be returned",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "description": "ID of the device whose channels should be returned",
                            "example": 123,
                            "minimum": 1,
                            "format":"int64"
                        },
                        "example": 123
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/StoredChannelCollection"
                                },
                                "example": [
                                    {
                                        "creation_date": "2003-05-03T02:27:44Z",
                                        "device_id": 24,
                                        "display_name": "Pressure",
                                        "display_status_name": "Active",
                                        "id": 123,
                                        "on_device_num": 2,
                                        "status_id": 1,
                                        "type_display_name": "DIGITAL",
                                        "type_id": 3
                                    },
                                    {
                                        "creation_date": "2003-05-03T02:27:44Z",
                                        "device_id": 24,
                                        "display_name": "Pressure",
                                        "display_status_name": "Active",
                                        "id": 123,
                                        "on_device_num": 2,
                                        "status_id": 1,
                                        "type_display_name": "DIGITAL",
                                        "type_id": 3
                                    },
                                    {
                                        "creation_date": "2003-05-03T02:27:44Z",
                                        "device_id": 24,
                                        "display_name": "Pressure",
                                        "display_status_name": "Active",
                                        "id": 123,
                                        "on_device_num": 2,
                                        "status_id": 1,
                                        "type_display_name": "DIGITAL",
                                        "type_id": 3
                                    },
                                    {
                                        "creation_date": "2003-05-03T02:27:44Z",
                                        "device_id": 24,
                                        "display_name": "Pressure",
                                        "display_status_name": "Active",
                                        "id": 123,
                                        "on_device_num": 2,
                                        "status_id": 1,
                                        "type_display_name": "DIGITAL",
                                        "type_id": 3
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "bad_request: Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "unauthorized: Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "forbidden: Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "not_found: Channel not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "too_many_requests: Too many requests",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "internal_server_error: System error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "jwt_header_Authorization": []
                    }
                ]
            }
        },
        "/device/{deviceId}/health": {
            "get": {
                "tags": [
                    "devicehealth"
                ],
                "summary": "getDeviceHealths devicehealth",
                "description": "Returns up to 100 new counters from the specified device",
                "operationId": "devicehealth#getDeviceHealths",
                "parameters": [
                    {
                        "name": "lastDeliveredId",
                        "in": "query",
                        "description": "ID of the oldest health counter from which to start returning samples",
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "description": "ID of the oldest health counter from which to start returning samples",
                            "example": 123,
                            "minimum": 1,
                            "format":"int64"
                        },
                        "example": 123
                    },
                    {
                        "name": "deviceId",
                        "in": "path",
                        "description": "ID of the device whose health counters should be returned",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "description": "ID of the device whose health counters should be returned",
                            "example": 123,
                            "minimum": 1,
                            "format":"int64"
                        },
                        "example": 123
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/StoredDeviceHealthCollection"
                                },
                                "example": [
                                    {
                                        "counter_type_id": 3,
                                        "device_id": 24,
                                        "id": 123,
                                        "sample_date": "2000-01-04T09:36:40Z",
                                        "value": 4
                                    },
                                    {
                                        "counter_type_id": 3,
                                        "device_id": 24,
                                        "id": 123,
                                        "sample_date": "2000-01-04T09:36:40Z",
                                        "value": 4
                                    },
                                    {
                                        "counter_type_id": 3,
                                        "device_id": 24,
                                        "id": 123,
                                        "sample_date": "2000-01-04T09:36:40Z",
                                        "value": 4
                                    },
                                    {
                                        "counter_type_id": 3,
                                        "device_id": 24,
                                        "id": 123,
                                        "sample_date": "2000-01-04T09:36:40Z",
                                        "value": 4
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "bad_request: Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "unauthorized: Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "forbidden: Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "not_found: Health not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "too_many_requests: Too many requests",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "internal_server_error: System error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "jwt_header_Authorization": []
                    }
                ]
            }
        },
        "/device/{deviceId}/lastHealth": {
            "get": {
                "tags": [
                    "devicehealth"
                ],
                "summary": "getLastDeviceHealth devicehealth",
                "description": "Returns information about the last known health counters from the specified device",
                "operationId": "devicehealth#getLastDeviceHealth",
                "parameters": [
                    {
                        "name": "deviceId",
                        "in": "path",
                        "description": "ID of the device whose last health counters should be returned",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "description": "ID of the device whose last health counters should be returned",
                            "example": 123,
                            "minimum": 1,
                            "format":"int64"
                        },
                        "example": 123
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/StoredDeviceHealthCollection"
                                },
                                "example": [
                                    {
                                        "counter_type_id": 3,
                                        "device_id": 24,
                                        "id": 123,
                                        "sample_date": "2000-01-04T09:36:40Z",
                                        "value": 4
                                    },
                                    {
                                        "counter_type_id": 3,
                                        "device_id": 24,
                                        "id": 123,
                                        "sample_date": "2000-01-04T09:36:40Z",
                                        "value": 4
                                    },
                                    {
                                        "counter_type_id": 3,
                                        "device_id": 24,
                                        "id": 123,
                                        "sample_date": "2000-01-04T09:36:40Z",
                                        "value": 4
                                    },
                                    {
                                        "counter_type_id": 3,
                                        "device_id": 24,
                                        "id": 123,
                                        "sample_date": "2000-01-04T09:36:40Z",
                                        "value": 4
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "bad_request: Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "unauthorized: Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "forbidden: Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "not_found: Health not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "too_many_requests: Too many requests",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "internal_server_error: System error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "jwt_header_Authorization": []
                    }
                ]
            }
        },
        "/device/{deviceId}/lastLog": {
            "get": {
                "tags": [
                    "devicelog"
                ],
                "summary": "getLastDeviceLog devicelog",
                "description": "Returns information about the last known log record from the specified device",
                "operationId": "devicelog#getLastDeviceLog",
                "parameters": [
                    {
                        "name": "deviceId",
                        "in": "path",
                        "description": "ID of the device whose last log counters should be returned",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "description": "ID of the device whose last log counters should be returned",
                            "example": 123,
                            "minimum": 1,
                            "format":"int64"
                        },
                        "example": 123
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/StoredDeviceLogCollection"
                                },
                                "example": [
                                    {
                                        "device_id": 24,
                                        "id": 123,
                                        "log_date": "1976-01-12T02:09:12Z",
                                        "message": "Error reading value",
                                        "source": "MBUS[20]"
                                    },
                                    {
                                        "device_id": 24,
                                        "id": 123,
                                        "log_date": "1976-01-12T02:09:12Z",
                                        "message": "Error reading value",
                                        "source": "MBUS[20]"
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "bad_request: Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "unauthorized: Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "forbidden: Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "not_found: Log not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "too_many_requests: Too many requests",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "internal_server_error: System error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "jwt_header_Authorization": []
                    }
                ]
            }
        },
        "/device/{deviceId}/log": {
            "get": {
                "tags": [
                    "devicelog"
                ],
                "summary": "getDeviceLogs devicelog",
                "description": "Returns up to 100 new logs from the specified device",
                "operationId": "devicelog#getDeviceLogs",
                "parameters": [
                    {
                        "name": "lastDeliveredId",
                        "in": "query",
                        "description": "ID of the oldest log counter from which to start returning samples",
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "description": "ID of the oldest log counter from which to start returning samples",
                            "example": 123,
                            "minimum": 1,
                            "format":"int64"
                        },
                        "example": 123
                    },
                    {
                        "name": "deviceId",
                        "in": "path",
                        "description": "ID of the device whose log counters should be returned",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "description": "ID of the device whose log counters should be returned",
                            "example": 123,
                            "minimum": 1,
                            "format":"int64"
                        },
                        "example": 123
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/StoredDeviceLogCollection"
                                },
                                "example": [
                                    {
                                        "device_id": 24,
                                        "id": 123,
                                        "log_date": "1976-01-12T02:09:12Z",
                                        "message": "Error reading value",
                                        "source": "MBUS[20]"
                                    },
                                    {
                                        "device_id": 24,
                                        "id": 123,
                                        "log_date": "1976-01-12T02:09:12Z",
                                        "message": "Error reading value",
                                        "source": "MBUS[20]"
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "bad_request: Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "unauthorized: Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "forbidden: Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "not_found: Log not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "too_many_requests: Too many requests",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "internal_server_error: System error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "jwt_header_Authorization": []
                    }
                ]
            }
        },
        "/device/{serialNumber}": {
            "get": {
                "tags": [
                    "device"
                ],
                "summary": "getDeviceBySerialNumber device",
                "description": "Returns information about the device corresponding to the specified serial number",
                "operationId": "device#getDeviceBySerialNumber",
                "parameters": [
                    {
                        "name": "serialNumber",
                        "in": "path",
                        "description": "Serial number of the device whose information should be returned",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "description": "Serial number of the device whose information should be returned",
                            "example": "24EB9B03590BE71A"
                        },
                        "example": "24EB9B03590BE71A"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AkapiStoredDevice"
                                },
                                "example": {
                                    "akid": "W4C016201630164EU",
                                    "display_name": "W4C018074024200205EU",
                                    "firmware_version": "AK3SGSTM__v1.51_20140212T081829",
                                    "iccid": "C2510S067000000000RA",
                                    "iccid2": "C2510S067000000000RA",
                                    "id": 123,
                                    "meid": "359677060121128",
                                    "model_number": "Wavelet Water Overflow 5100",
                                    "serial_number": "W4C018074024200205EU",
                                    "site_display_name": "Orange Canary12",
                                    "site_id": 24
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "bad_request: Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "unauthorized: Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "forbidden: Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "not_found: Device not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "too_many_requests: Too many requests",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "internal_server_error: System error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "jwt_header_Authorization": []
                    }
                ]
            }
        },
        "/health": {
            "get": {
                "tags": [
                    "system"
                ],
                "summary": "healthStatus system",
                "description": "Can be used to determine if the system is in a healthy state. When healthy, HTTP 200 is returned. When unhealthy, HTTP 503. Note: only use the HTTP status code to determine the health status since the response body is optional.",
                "operationId": "system#healthStatus",
                "responses": {
                    "200": {
                        "description": "OK response.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string",
                                    "description": "Health status",
                                    "example": "Repudiandae quis harum natus veniam libero."
                                },
                                "example": "Sit quidem et."
                            }
                        }
                    },
                    "500": {
                        "description": "internal_server_error: System error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "not_available: Unavailable",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/sample/batch": {
            "get": {
                "tags": [
                    "sample"
                ],
                "summary": "getSamplesScalarBatch sample",
                "description": "Get a Batch of New SamplesScalar",
                "operationId": "sample#getSamplesScalarBatch",
                "parameters": [
                    {
                        "name": "enableAck",
                        "in": "query",
                        "description": "If set to false, then the internal last delivered sample id value is set to the last sample ID in the batch sent in response to this call",
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "boolean",
                            "description": "If set to false, then the internal last delivered sample id value is set to the last sample ID in the batch sent in response to this call",
                            "default": true,
                            "example": true
                        },
                        "example": true
                    },
                    {
                        "name": "sampleID",
                        "in": "query",
                        "description": "Specifies to send samples with an ID number strictly higher than the sampleID. For example, if the sampleID value is 1234, the response could include samples with IDs such as [1235, 1240, 1241]",
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "description": "Specifies to send samples with an ID number strictly higher than the sampleID. For example, if the sampleID value is 1234, the response could include samples with IDs such as [1235, 1240, 1241]",
                            "example": 123,
                            "minimum": 1,
                            "format":"int64"
                        },
                        "example": 123
                    },
                    {
                        "name": "backfillHours",
                        "in": "query",
                        "description": "Specifies to send samples starting this many hours ago. For example, if the backfillHours value is 24, this is a request to provide all samples of the past 24 hours",
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "description": "Specifies to send samples starting this many hours ago. For example, if the backfillHours value is 24, this is a request to provide all samples of the past 24 hours",
                            "example": 24
                        },
                        "example": 24
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/StoredSampleScalarBatch"
                                },
                                "example": {
                                    "hasMore": false,
                                    "samples": [
                                        {
                                            "id": 123,
                                            "sample_date": "1995-09-19T15:35:20Z",
                                            "stream_id": 24,
                                            "value": "102.0000"
                                        },
                                        {
                                            "id": 123,
                                            "sample_date": "1995-09-19T15:35:20Z",
                                            "stream_id": 24,
                                            "value": "102.0000"
                                        },
                                        {
                                            "id": 123,
                                            "sample_date": "1995-09-19T15:35:20Z",
                                            "stream_id": 24,
                                            "value": "102.0000"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "bad_request: Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "unauthorized: Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "forbidden: Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "not_found: Sample not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "too_many_requests: Too many requests",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "internal_server_error: System error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "jwt_header_Authorization": []
                    }
                ]
            }
        },
        "/sample/batch/ack": {
            "post": {
                "tags": [
                    "sample"
                ],
                "summary": "ackSampleScalarBatch sample",
                "description": "Notify which Sample was the Last Sample Received by the Client",
                "operationId": "sample#ackSampleScalarBatch",
                "parameters": [
                    {
                        "name": "sampleId",
                        "in": "query",
                        "description": "The value to set in the last delivered sample id internal field",
                        "allowEmptyValue": true,
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "description": "The value to set in the last delivered sample id internal field",
                            "example": 123,
                            "minimum": 1,
                            "format":"int64"
                        },
                        "example": 123
                    },
                    {
                        "name": "agent",
                        "in": "query",
                        "description": "User-Agent information, stored in the cloud to identify the applications that use the samples batch APIs",
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string",
                            "description": "User-Agent information, stored in the cloud to identify the applications that use the samples batch APIs",
                            "example": "Id voluptates rerum itaque laborum est."
                        },
                        "example": "Et ullam ea dicta."
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content response."
                    },
                    "400": {
                        "description": "bad_request: Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "unauthorized: Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "forbidden: Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "not_found: Sample not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "too_many_requests: Too many requests",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "internal_server_error: System error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "jwt_header_Authorization": []
                    }
                ]
            }
        },
        "/sample/batch/backfill": {
            "post": {
                "tags": [
                    "sample"
                ],
                "summary": "setBackfillSamplesScalarBatch sample",
                "description": "Reset the DateTime starting point for the next SamplesScalar Batch",
                "operationId": "sample#setBackfillSamplesScalarBatch",
                "parameters": [
                    {
                        "name": "sampleDate",
                        "in": "query",
                        "description": "The date and time to use for setting the last delivered sample id internal field (Unix time, seconds since January 1, 1970 UTC.). The API resets the internal last delivered sample id value to the id of the sample whose date and time is closest to the specified date and time",
                        "allowEmptyValue": true,
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "description": "The date and time to use for setting the last delivered sample id internal field (Unix time, seconds since January 1, 1970 UTC.). The API resets the internal last delivered sample id value to the id of the sample whose date and time is closest to the specified date and time",
                            "example": 1582409385,
                            "minimum": 946688461,
                            "format":"int64"
                        },
                        "example": 1582409385
                    },
                    {
                        "name": "agent",
                        "in": "query",
                        "description": "ser-Agent information, stored in the cloud to identify the applications that use the samples batch APIs",
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "string",
                            "description": "ser-Agent information, stored in the cloud to identify the applications that use the samples batch APIs",
                            "example": "Dolor qui."
                        },
                        "example": "Veniam ut consequuntur velit sint omnis."
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content response."
                    },
                    "400": {
                        "description": "bad_request: Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "unauthorized: Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "forbidden: Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "not_found: Sample not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "too_many_requests: Too many requests",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "internal_server_error: System error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "jwt_header_Authorization": []
                    }
                ]
            }
        },
        "/sample/batch/status": {
            "get": {
                "tags": [
                    "sample"
                ],
                "summary": "getLastSampleScalarBatch sample",
                "description": "Get the Last Delivered Sample of the Last Delivered SamplesScalar Batch",
                "operationId": "sample#getLastSampleScalarBatch",
                "responses": {
                    "200": {
                        "description": "OK response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/StoredSampleScalar"
                                },
                                "example": {
                                    "id": 123,
                                    "sample_date": "1983-04-16T06:05:39Z",
                                    "stream_id": 24,
                                    "value": "102.0000"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "bad_request: Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "unauthorized: Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "forbidden: Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "not_found: Sample not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "too_many_requests: Too many requests",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "internal_server_error: System error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "jwt_header_Authorization": []
                    }
                ]
            }
        },
        "/sample/gps/batch": {
            "get": {
                "tags": [
                    "samplegps"
                ],
                "summary": "getSamplesGPSBatch samplegps",
                "description": "Get a Batch of New Samples GPS",
                "operationId": "samplegps#getSamplesGPSBatch",
                "parameters": [
                    {
                        "name": "enableAck",
                        "in": "query",
                        "description": "If set to false, then the internal last delivered sample GPS id value is set to the last sample GPS ID in the batch sent in response to this call. If set to true, then the internal last delivered sample GPS id remains untouched by this call. We recommend setting this parameter to 'true' and calling ackSamplesGPSBatch to update the last delivered sample GPS id field",
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "boolean",
                            "description": "If set to false, then the internal last delivered sample GPS id value is set to the last sample GPS ID in the batch sent in response to this call. If set to true, then the internal last delivered sample GPS id remains untouched by this call. We recommend setting this parameter to 'true' and calling ackSamplesGPSBatch to update the last delivered sample GPS id field",
                            "default": true,
                            "example": true
                        },
                        "example": false
                    },
                    {
                        "name": "sampleID",
                        "in": "query",
                        "description": "Specifies to send samples GPS with an ID number strictly higher than the sampleID. For example, if the sampleID value is 1234, the response could include samples GPS with IDs such as [1235, 1240, 1241]",
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "description": "Specifies to send samples GPS with an ID number strictly higher than the sampleID. For example, if the sampleID value is 1234, the response could include samples GPS with IDs such as [1235, 1240, 1241]",
                            "example": 123,
                            "minimum": 1,
                            "format":"int64"
                        },
                        "example": 123
                    },
                    {
                        "name": "backfillHours",
                        "in": "query",
                        "description": "Specifies to send samples GPS starting this many hours ago. For example, if the backfillHours value is 24, this is a request to provide all samples GPS of the past 24 hours",
                        "allowEmptyValue": true,
                        "schema": {
                            "type": "integer",
                            "description": "Specifies to send samples GPS starting this many hours ago. For example, if the backfillHours value is 24, this is a request to provide all samples GPS of the past 24 hours",
                            "example": 24
                        },
                        "example": 24
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/StoredSampleGPSBatch"
                                },
                                "example": {
                                    "hasMore": true,
                                    "samples": [
                                        {
                                            "gps": {
                                                "altitude": 745.2,
                                                "date": "2008-12-29T06:49:51Z",
                                                "dilution_of_precision": 2.2,
                                                "latitude": 31.771959,
                                                "longitude": 35.217018,
                                                "number_of_satellites": 4
                                            },
[...]
